<div class="text-center"><img src="mdlogopng.png" width="15%" alt="MD Logo - Keep Developing"/></div>
<h1 style="text-align: center;"><span style="color: #800000;">Welcome to MD Development</span></h1>
<h3 style="text-align: center;"><span style="color: #0000ff;">Matt Enns </span></h3>
<h4 style="text-align: center;">and</h4>
<h3 style="text-align: center;"><span style="color: #008000;">David Nguyen </span></h3>
<h2 style="text-align: center;">Portfolio Website!</h2>
<h3 style="text-align: center;">Slogan: Keep Developing</h3>
<h3 style="text-align: center;">Mission Statement: We strive to provide our computing best in the things we do!</h3>

<p>On this website you will see our Projects, Services and information about us as software/web developers.</p>
<button id="AboutUsButton" class="btn btn-primary">Learn About Us!</button>