<h1>Welcome to Our Projects</h1>
<h3>Here is our Projects page showcasing our 3 favourite projects</h3>
<p><a title="MattEnns.github.io Website" href="https://MattEnns.github.io/" target="_blank">MattEnns.github.io</a> - GitHub.io website. Work on this website showcases our work.</p>
<p><img src="megithubio.jpg" alt="Snapshot of GitHub.io website" /></p>
<p><a title="AMLCSL Website" href="https://www.amlcsl.com/" target="_blank">AMLCSL.com</a> - Local Oshawa Computer Repair and Sales store website created in WordPress</p>
<p><img src="amlcsl.jpg" alt="Snapshot of AMLCSL WordPress website" /></p>
<p><a title="Teach English World Teaching Portal Website" href="http://www.teachenglishworld.com/" target="_blank">TeachEnglishWorld.com</a> - Teaching English as a Second Language Portal website created in WordPress</p>
<p><img src="tew.jpg" alt="Snapshot of Teach English World WordPress website" /></p>
<hr/><hr/><hr/>