<h1>Welcome to Our Services</h1>
<h3>Here is our Services page. We offer the following Skills</h3>
<h3>Custom Software Development</h3>
<p><img src="softwaredevelopmentclipart.jpg" alt="Software Development Clipart" /></p>
<h3>Custom Website Development</h3>
<p><img src="webdevelopmentclipart.jpg" alt="Web Development Clipart" /></p>
<h3>Custom Logo Development</h3>
<p><img src="logodesignclipart.jpg" alt="Web Development Clipart" /></p>

<hr/><hr/><hr/>