<h1>Welcome to our About Us</h1> 
<h4>Here is our resumes and contact information.</h4>
<h3>Matt Enns</h3>
<p><img src="matthewennsclipartprofilepic.jpg" width="15%" alt="Matthew Enns Profile Pic Clipart" /></p>
<p>Resume Link: <a title="Matthew Enns's Resume in a Google Doc" href="https://docs.google.com/document/d/1pgNru29FKwWM-FRrlDyCSpxh0eSpa398br1kSkv8TdQ/edit?usp=sharing" target="_blank">Google Doc</a></p>
<p>Contact Link: <a title="Matthew Enns email at Durham College" href="mailto:matthew.enns@dcmail.ca" target="_blank">matthew.enns@dcmail.ca</a></p>
<h3>David Nguyen</h3>
<p>I have three passions in life: computers, art and programming. I also like gaming and coffee. I like creating software mostly but I am willing to try and learn other types of development.</p>
<p><img src="davidnguyenclipartprofilepic.jpg" width="15%" alt="David Nguyen Profile Pic Clipart" /></p>
<p>Resume Link: <a title="David Nguyen's Resume in a Google Doc" href="https://docs.google.com/document/d/1c5DLF8RGRX8LbDr0MFF2LPyvJGN5oruNn1yS0Txhnbk/edit?usp=sharing" target="_blank">Google Doc</a></p>
<p>Contact Link: <a title="David Nguyen's Email at Durham College" href="mailto:david.nguyen1@dcmail.ca" target="_blank">david.nguyen1@dcmail.ca</a></p>
<hr/><hr/><hr/>
